<div class="access-denied text-center p-3 border rounded shadow">
    <h1 class="text-secondary border-bottom"> Access Denied </h1>
    <h6 class="text-secondary"> You do not have permission to access this resource! </h6>
    <img src="~/images/access_denied.jpg" width="200" height="200"/>
</div>