<div class="border rounded p-3 my-4 shadow">
    <h4>
        Account Locked!
    </h4>
    <h6 class="font-weight-normal">
        You account has been locked due to many invalid attempts. You may try again after 15 minutes or you may
        <u> <a asp-controller="Account" asp-action="ForgotPassword"> reset your password </a> </u>
    </h6>
</div>