<div class="border rounded p-3 my-4 shadow">
    <h4>
        Email Confirmed!
    </h4>
    <h6 class="font-weight-normal">
        Thank you for confirming your email. You can now procced to
        <u>
            <a asp-controller="Account" asp-action="Login"> login </a>
        </u>
    </h6>
</div>