@model ForgotPassword

@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-12 col-sm-11 col-md-10 col-lg-8 mx-auto my-3">

        <h3 class="text-center font-weight-light"> Forgot Password </h3>
        

        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <h6 class="text-center font-weight-light border-top p-2"> Enter your email address so we can send you a reset-password link </h6>
                <input asp-for="Email" class="form-control shadow-sm" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="text-center mt-2">
                <button type="submit" class="btn btn-primary shadow"> Submit </button>
            </div>
        </form>

    </div>
</div>