<div class="border rounded p-3 my-4 shadow">
    <h4>
        Email sent!
    </h4>
    <h6 class="font-weight-normal">
        If you have an account with us, we have sent an email with the instructions to reset your password.
    </h6>
</div>