<div class="border rounded p-3 my-4 shadow">
    <h4>
        Registration successful!
    </h4>
    <h6 class="font-weight-normal">
        We have sent an email with a <b> confirmation link </b> to your email address. 
        In order to complete the sign-up process, please click the <b> confirmation link </b>.
    </h6>
</div>