<div class="border rounded p-3 my-4 shadow">
    <h4>
        Password reset successful!
    </h4>
    <h6 class="font-weight-normal">
        Password was reset successfully. You can now procced to
        <u>
            <a asp-controller="Account" asp-action="Login"> login </a>
        </u>
    </h6>
</div>