@model EditRoleVm

@{ 
    ViewBag.Title = "Edit Role";
}

<div class="col-12 col-md-10 mx-auto my-3">

    <h3 class="text-center font-weight-light"> Edit Role </h3>
    <hr/>

    <form asp-controller="Administration" asp-action="EditRole" method="post">
        <div class="form-group">
            <label asp-for="Id"></label>
            <input asp-for="Id" disabled class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="RoleName"></label>
            <input asp-for="RoleName" class="form-control" />
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="text-center mt-4">
            <a asp-controller="Administration" asp-action="ListRoles" class="btn btn-sm btn-secondary mx-1 shadow"> Cancel </a>
            <button type="submit" class="btn btn-sm btn-primary mx-1 shadow"> Update </button>
        </div>
    </form>

    <div class="card my-4">
        <div class="card-header">
            <h5> Users in this role </h5>
        </div>
        <div class="card-body">
            @if(Model.Users.Any())
            {
                <ul class="list-group">
                    @foreach(var user in Model.Users)
                    {
                        <li class="list-group-item"> @user </li>
                    }
                </ul>
            }
            else
            {
                <h6 class="card-title m-0 text-secondary"> No users with this role. </h6>
            }
        </div>
        <div class="card-footer">
            <a asp-controller="Administration" asp-action="EditRoleUsers" asp-route-roleId="@Model.Id" class="btn btn-sm btn-outline-primary m-1 shadow"> 
                Add/Remove users
            </a>
        </div>
    </div>
</div>